{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
  </div>

  <!-- Load jQuery script -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  {% if page.url == '/index.html'%}
    <!-- Load JS for home page -->
    <script src="{{ site.url }}/javascript/cookie.min.js"></script>
  {% endif %}

  <!-- Load main JS file -->
  <script src="{{ site.url }}/javascript/basic.min.js"></script>

  {% if page.url == '/work/'%}
    <!-- Load JS for work page -->
    <script src="{{ site.url }}/javascript/dribbble.min.js"></script>
    <script>
      jribbble.shots({token: "3fc5e6e3a389e7e922f7bdad4c1ec924b3627c6c2bc03de6b2c4f434c9c5aabd", per_page:30}, function(shots) {
        document.querySelector("#dribbble").innerHTML = shots.reduce(function(html, shot) {
          return html + '<li class="shot"><a href="'+  shot.html_url + '" target="_blank"><img src="' + shot.images.normal + '"></a></li>';
        }, "");
      });
    </script>
  {% endif %}

  {% if page.url == '/photos/'%}
    <!-- Load JS for photos -->
    <script src="{{ site.url }}/javascript/swipe.min.js"></script>
    <script>
      window.mySwipe = new Swipe(document.getElementById('slider'), {
        auto: 3000,
        disableScroll: true,
        callback: function() {
          $('.slideVisible').next().addClass('preload');
          preloadImage();
        },
        transitionEnd: function(pos) {
          $('.swipe-wrap div').removeClass('slideVisible');
          $('.swipe-wrap div').eq(pos).addClass('slideVisible');
        }
      })
    </script>
  {% endif %}

  <!-- Load Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-6273751-7']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
